<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBfjXaLyRkCcgSTqrvy05ugybgP5i104Us</string>
	<key>GCM_SENDER_ID</key>
	<string>973816138542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bazarioApp</string>
	<key>PROJECT_ID</key>
	<string>udemy-course-4b2fc</string>
	<key>STORAGE_BUCKET</key>
	<string>udemy-course-4b2fc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:973816138542:ios:c15bd7006121a8750488bf</string>
</dict>
</plist>